head
	// META
	meta(name='description', content='DESCRIPTION')
	meta(name='author', content='Andy Pyle')
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='og:title', content='jillBee delivers')
	//meta(name='og:image', content='OPENGRAPH IMAGE')
	meta(name='og:description', content='DESCRIPTION')
	title jillBee Delivers

	link(rel='stylesheet', href='//brick.a.ssl.fastly.net/Open+Sans:300,400,600,700')